@import 'generals.lessimport';

body{
  background: whiteSmoke;
  margin: 0;

  @import 'finish.lessimport';
}
h1{
  -webkit-transition: all 250ms;
     -moz-transition: all 250ms;
       -o-transition: all 250ms;
          transition: all 250ms;
}
#level_playground{
  min-height: 400px;
  max-width: 100%;
  position: relative;

  .players {
    position: absolute;
    right: 20px;
    width: 300px;
    top: 0;
    bottom: 0;
    height: auto;

    h2 {
      margin: 0;
    }

    .rows {
      overflow: auto;
      height: -webkit-calc(~'100% - 70px');
      height:    -moz-calc(~'100% - 70px');
      height:      -o-calc(~'100% - 70px');
      height:         calc(~'100% - 70px');
      padding-right: 20px;
    }
  }
}
#code_submit{
  background: #9CD22F;
  font-size: 50px;
  border: none;
  box-shadow: 0 0 40px rgba(220, 220, 140, 0.44);
  color: white;
  display: inline-block;
  font-weight: 700;
  height: 150px;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
  -webkit-transition: all 1s;
     -moz-transition: all 1s;
      -ms-transition: all 1s;
       -o-transition: all 1s;
          transition: all 1s;
  vertical-align: top;
  width: 150px;
  &.to_next_level{
    background: #6A109E;
    box-shadow: 0 10px 50px rgba(202, 125, 125, 0.5);
  }
}
#console{
  background: black;
  display: inline-block;
  height: 150px;
  margin: 10px 0 0 10px;
  overflow-y: scroll;
  vertical-align: top;
  width: -webkit-calc(~'100% - 200px');
  width:    -moz-calc(~'100% - 200px');
  width:      -o-calc(~'100% - 200px');
  width:         calc(~'100% - 200px');
  tt{
    color: white;
    display: block;
    font-size: 1.15em;
    font-weight: bold;
    padding: 4px 2px;
    &.ok{
      color: green;
    }
    &.err{
      color: red;
    }
  }
}
#editor{
  bottom: 0;
  left: 20px;
  position: absolute;
  right: 400px;
  top: 0;
}
.clock{
  background: #FF0057;
  box-shadow: 0 0 40px rgba(255, 0, 87, 0.53);
  padding: 20px;
  position: fixed;
  right: 5%;
  top: 0;
  z-index: 100;
  span{
    color: white;
    font-weight: 700;
  }
}
.start_game{
  background: #6A109E;
  color: white;
  display: block;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 20px;
  width: 30%;
}

canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js{
  height: 100%;
  background: #111111;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
}

.level_number {
  font-size: 30px;
  margin-bottom: 16px;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

.check_form {
  margin: 10px 0 30px;

  label {
    font-size: 20px;
    padding-left: 10px;
  }
}

.logo {
  background: #6A109E;
  padding: 20px;
  position: absolute;
  left: 5%;
  top: 0;
  z-index: 100;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

/**
* Fade-move animation for popups
*/

/* at start */
.mfp-wrap .popup-content {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  -webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
}

/* animate in */
.mfp-wrap.mfp-ready .popup-content {
  opacity: 1;
  -webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  -moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  -ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  -o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.mfp-wrap.mfp-removing .popup-content {
  opacity: 0;

  -webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  -moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  -ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  -o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.mfp-bg {
  opacity: 0;

  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.mfp-removing.mfp-bg {
  opacity: 0;
}

#are-you-sure {
  background: white;
  padding: 20px 30px;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
}

#signup {
  background: white;
  padding: 20px 30px;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;

  .actions {
    text-align: right;
  }

  .popup-title {
    margin: 0;
  }

  form {
    .textbox {
      background: white;
      border: none;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      font-size: 1.4em;
      height: 55px;
      line-height: 1.4em;
      margin: 0;
      padding: 10px;
      color: black;
      width: 100%;
      text-align: left;
    }
    #player_email {
      margin-top: 10px;
    }
    label {
      color: black;
    }
  }
}

.popup-content {
  .popup-title {
    color: black;
    margin: 0 0 18px 0;
  }
  .actions {
    text-align: center;

    button {
      border: none;
      padding: 5px 10px;
      font-size: 24px;
      font-family: @open;
      margin: 0 6px;
      cursor: pointer;
      -webkit-transition: all 250ms;
         -moz-transition: all 250ms;
          -ms-transition: all 250ms;
           -o-transition: all 250ms;
              transition: all 250ms;
    }
    button:hover {
      background: #6A109E;
      color: white;
    }
  }
}

label.error {
  display: none !important;
}

input[aria-invalid='true'] {
  border: 1px solid red !important;
}

.hidden {
  display: none;
}

h1 {
  overflow: hidden;
  -webkit-transition: all 250ms;
     -moz-transition: all 250ms;
      -ms-transition: all 250ms;
       -o-transition: all 250ms;
          transition: all 250ms;
}

.picture {
  position: absolute;
  top: 0;
  left: 10%;
  width: 250px;
  height: 58px;

  img {
    height: 58px;
    width: 58px;
    float: left;
  }

  > div {
    height: 58px;
    width: 185px;
    float: left;
    text-align: left;
    line-height: 64px;
    padding-left: 6px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.leaderboard {
  float: left;
  height: 350px;
  width: -webkit-calc(~'30% - 100px');
  width:    -moz-calc(~'30% - 100px');
  width:      -o-calc(~'30% - 100px');
  width:         calc(~'30% - 100px');
  margin-left: 12%;
  overflow: auto;
  padding: 0 20px 20px 40px;
  background-color: rgba(0, 0, 0, 0.62);
}

.players {
  float: left;
  height: 350px;
  overflow: auto;
  width: -webkit-calc(~'30% - 100px');
  width:    -moz-calc(~'30% - 100px');
  width:      -o-calc(~'30% - 100px');
  width:         calc(~'30% - 100px');
  margin-left: 16%;
  padding: 0 20px 20px 40px;
  background-color: rgba(0, 0, 0, 0.62);
}

.notification {
  color: white;
  font-family: @open;
  line-height: 24px;

  .name {
    width: -webkit-calc(~'75% - 34px');
    width:    -moz-calc(~'75% - 34px');
    width:      -o-calc(~'75% - 34px');
    width:         calc(~'75% - 34px');
    display: inline-block;
    color: rgb(216, 216, 122);
    vertical-align: top;
  }

  .level, .time {
    text-align: right;
    width: 25%;
    display: inline-block;
    vertical-align: top;
  }
}

#dock {
  height: 350px;
  margin-bottom: 60px;

  h2 {
    margin: 0;
    color: rgb(242, 0, 174);
  }
  .rows {
    height: 280px;
    overflow: auto;
    padding-right: 20px;
  }
}

.finish-img {
  display: block;
  margin: 10px auto;
}

.link {
  text-align: center;
  display: block;
  margin-top: 50px;
  font-size: 32px;
  color: rgb(249, 249, 49);
  text-decoration: none;
  cursor: pointer;
}
