<template name='finish'>
  <div id='finish'>
    <h2 class='general'>That's it!</h2>
    <p class='general success-msg'>You made it in {{ time }}</p>
    <img class='finish-img' src='http://i1.kym-cdn.com/photos/images/newsfeed/000/538/716/7f5.gif'>
    <span id='go-leaderboard' class='general link'>Go to leaderboard</span>
    <div class='finish_share'>
      <a href='https://twitter.com/share' class='twitter-share-button' data-url='http://jup.sophilabs.io' data-text='I just completed it in {{ time }}' data-via='sophilabs' data-size='large' data-hashtags='JSConfUY' data-dnt='true'>Tweet</a>
    </div>
  </div>
</template>
